@model UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.min.js")"></script>
</head>
<body>
<div>
    <form action="@Url.Action("TestDataAnnotations", "Home")" method="post">
        <input name="Name"/>
        <input name="NO"/>
        <input type="submit" value="提交"/>
    </form>
</div>
</body>
</html>
